hr{
	width: 300px;
}
button{
	width:70px;
	background-color: red;
	color: white;
}
#end{
	height: 5px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}
.heading{
	position: absolute;
	left: 430px;
}
.ending{
	position: absolute;
	right: 420px;
}

.row{
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 100px;
	padding:10px 0;
}
.column{
	display: flex;
	flex-direction: column;
	justify-content: right;
	padding-left: 20px;
	
}
.proceed{
	background-color: orange;
	position :relative;
	left:40px;
}
.remove{
	position: relative;
	left: 100px;
}