.navbar {
  overflow: hidden;
  background-color: pink;
}

.navbar .brand-logo {
  float: left;
  display: block;
  text-align: center;
  padding: 10px 20px 10px 100px;
  text-decoration: none;
  font-size: 17px;
  color: white;
}
.navbar .brand-name {
  float: left;
  display: block;
  text-align: left;
  padding: 0px 60px 0px 0px;
  text-decoration: none;
  font-size: 24px;
  color: white;
}

.navbar .search-container {
  float: left;
  margin-top: 25px;
}
.navbar input[type=text] {
    padding: 10px 300px 10px 10px;
  font-size: 17px;
  border: none;
}
.navbar .search-container button {
  float: right;
  font-size: 17px;
  padding: 10px;
  background: #ddd;
  border: none;
  cursor: pointer;
}
.navbar .search-container button:hover {
  background: #ccc;
}
.navbar .right {
  float: right;
  display: block;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 17px;
  color: white;
}